### 1. 엑셀파일 읽고 쓰기

#### 엑셀 파일의 데이터 읽기

In [1]:
import pandas as pd
df = pd.read_excel('c:/python/data/학생시험성적.xlsx')
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [3]:
df2 = pd.read_excel("c:/python/data/학생시험성적.xlsx", index_col = '학생')
df2

    국어  영어  수학         평균
학생
A   80  90  85  85.000000
B   90  95  95  93.333333
C   95  70  75  80.000000
D   70  85  80  78.333333
E   75  90  85  83.333333

이렇게 index col을 열의 이름 혹은 index number로 지정해줄 수 있다.

sheet_name이라는 argument를 통해 시트를 지정해줄 수도 있음

In [5]:
df2 = pd.read_excel("c:/python/data/학생시험성적.xlsx", index_col = 0)
df2

    국어  영어  수학         평균
학생
A   80  90  85  85.000000
B   90  95  95  93.333333
C   95  70  75  80.000000
D   70  85  80  78.333333
E   75  90  85  83.333333

#### 데이터를 엑셀 파일로 쓰기

1) pandas의 ExcelWriter 객체 생성

2) DataFrame 데이터를 지정된 엑셀 시트에 쓰기

3) ExcelWriter 객체를 닫고 지정된 엑셀 파일 생성 

의 과정으로 진행된다고 한다

In [14]:
import pandas as pd

excel_exam_data1 = {
    '학생' : ['a', 'b', 'c','d','e','f'], 
    '국어' : [80, 90, 95, 70, 75, 85],
    '영어' : [90, 95, 70, 85, 90, 95],
    '수학' : [85, 95, 75, 80, 85, 100]
}

df1 = pd.DataFrame(excel_exam_data1 
#                    , columns = ['학생', '국어','영어','수학']
                  )

df1

  학생  국어  영어   수학
0  a  80  90   85
1  b  90  95   95
2  c  95  70   75
3  d  70  85   80
4  e  75  90   85
5  f  85  95  100

In [17]:
excel_writer = pd.ExcelWriter('c:/python/data/학생시험성적2.xlsx', engine = 'xlsxwriter')
df1.to_excel(excel_writer, index = False) #index는 엑셀파일에 포함되지 않았다.
excel_writer.save()

In [19]:
#이번에는 시트의 이름을 지정해볼 수 있다.
excel_writer = pd.ExcelWriter('c:/python/data/학생시험성적3.xlsx', engine = 'xlsxwriter')
df1.to_excel(excel_writer, index = False, sheet_name = '중간고사') #index는 엑셀파일에 포함되지 않았다.
excel_writer.save()

### 2.엑셀 파일 통합

#### 효율적인 데이터 처리를 위한 엑셀 데이터 구조

아래 사항을 지켜야 편한 데이터 처리가 가능하다고 한다

- 열의 머리글은 한 줄로만 만들고 데이터는 그 아래에 입력

- 열 머리글이나 데이터 입력 부분에 셀 병합 기능은 사용X

- 데이터를 입혁할 때 하나의 셀에 숫자와 단위를 같이 쓰지 않는다

- 하나의 열에 입력한 데이터의 형식은 모두 일치해야 한다

- 데이터를 연도, 분기, 월, 업체별, 제품별 등의 시트로 나누지 않는다

#### 여러 개의 엑살 파일 데이터 통합

In [20]:
exc_datafiles = ['C:/python/data/담당자별_판매량_Andy사원.xlsx',
                'C:/python/data/담당자별_판매량_Becky사원.xlsx',
                'C:/python/data/담당자별_판매량_Chris사원.xlsx'
                ]

In [21]:
#통합할 데이터 셋 만들기
total_data = pd.DataFrame()

In [24]:
import pandas as pd

for f in exc_datafiles : 
    df = pd.read_excel(f)
    total_data = total_data.append(df, ignore_index = True) #index를 없애야 순차적으로 데이터를 집어넣을 수 있다.
    
total_data

    제품명 담당자 지역  1분기  2분기  3분기  4분기
0    시계   A  가  198  123  120  137
1    구두   A  가  273  241  296  217
2   핸드백   A  가  385  316  355  331
3    시계   B  나  154  108  155  114
4    구두   B  나  200  223  213  202
5   핸드백   B  나  350  340  377  392
6    시계   C  다  168  102  149  174
7    구두   C  다  231  279  277  292
8   핸드백   C  다  365  383  308  323
9    시계   A  가  198  123  120  137
10   구두   A  가  273  241  296  217
11  핸드백   A  가  385  316  355  331
12   시계   B  나  154  108  155  114
13   구두   B  나  200  223  213  202
14  핸드백   B  나  350  340  377  392
15   시계   C  다  168  102  149  174
16   구두   C  다  231  279  277  292
17  핸드백   C  다  365  383  308  323

- glob를 통해 파일명을 일일이 입력하지 않고 자동으로 파일명을 가져오기

이때 * 과 ?를 사용할 수 있다!

'*' : 길이와 상관없는 모든 문자열

'?' : 한 글자로 된 모든 문자열

In [26]:
import glob
glob.glob('c:/python/data/담당자별_판매량_*사원.xlsx') #모든 문자를 가져오게 된다.

['c:/python/data\\담당자별_판매량_Andy사원.xlsx',
 'c:/python/data\\담당자별_판매량_Becky사원.xlsx',
 'c:/python/data\\담당자별_판매량_Chris사원.xlsx']

In [28]:
glob.glob('c:/python/data/담당자별_판매량_????사원.xlsx') #이렇게 네 글자로 하면 당연히 앤디만 뽑힌다!

['c:/python/data\\담당자별_판매량_Andy사원.xlsx']